

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* * {
	border:  1px solid red;
} */

.results {
	padding: 0;
}

.mapWindow {
	height:600px;
	padding-left:  0;
}

#viewDiv {
padding: 0;
margin: 0;
height: 100%;
width: 100%;
}














